@import "fonts";

@import "vendor/bootstrap/variables";

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import '~bootstrap/scss/bootstrap';


// Simple animation frameworks
@import "~aos/src/sass/aos";
@import "~animate.css/animate.css";

.bg-dev {
    background-color: rgba($color: red, $alpha: .25);
}

#background,
#footer {
    overflow: hidden;
}

html {
    overflow-x: hidden;
}

body {
    color: #000;
    background: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    &.step-1 {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(225, 225, 225, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }

    overflow: hidden;
    height: 100vh;

    &.scroll {
        overflow: inherit;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;

        @include media-breakpoint-up(lg) {
            overflow: hidden;
        }
    }
}


.font-recoleta {
    font-family: 'Recoleta', 'Times New Roman', Times, serif;
}

.extend-lh {
    line-height: 1.75;
}

.vl {
    border-left: 1px solid black;
}

.tabbed-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    a {

        &:hover,
        &.active {
            text-decoration: none;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $primary;
            }
        }
    }
}

.middleler {
    margin: auto;
    position: relative;
    width: 100%;
    transform: translate(0vh, 0vh);
}

#init-card {
    width: 300px;
    position: absolute;
    left: 50%;
    top: -153px;
    transform: translate(calc(-50% - 53px), 0);

    @include media-breakpoint-up(lg) {
        width: 500px;
        top: -253px;
    }
}

#init-box {

    width: 300px;
    position: absolute;
    right: 50%;
    top: 0px;
    transform: translate(50%, 0);
    mix-blend-mode: multiply;

    @include media-breakpoint-up(lg) {
        width: 500px;
        top: -40px;
        transform: translate(calc(50% + 150px), 0);
    }
}

#footer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.stage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;

    &.active {
        z-index: 2;
    }
}

#stage-1 {
    @include media-breakpoint-down(lg) {
        h1 {
            font-size: 2rem;
        }

        .h2 {
            font-size: 1.5rem;
        }

        .h3 {
            font-size: 1rem;
        }
    }
}

#stage-1,
#stage-3 {
    background-color: rgba($color: #fff, $alpha: .85);
}

#feedback-wrapper {
    position: fixed;
    z-index: 4;

    bottom: 0;
    width: 100%;

    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0;
        top: -80px;
        width: auto;
    }
}

#feedback-btn {
    $size: 184px;
    display: inline-block;
    height: $size;
    width: $size;
    line-height: $size;
    text-align: center;
    z-index: 2;
    position: relative;

    & .inner-text {
        display: inline-block;
        line-height: 1.1em;
        transform: translateY(30%);
    }

    &:after {
        position: absolute;
        bottom: -22px;
        left: -3px;
        content: '';
        background-image: url(../img/smile-big.svg);
        background-repeat: no-repeat;
        width: $size + 6px;
        height: 58px;
    }
}

#feedback-btn-mcta {
    transition: all 250ms ease-in-out;
    width: 64px;   
    position: absolute;
    left: -15px;
    bottom: -20px;
    z-index: 2;

    &:focus {
        outline-width: 0px;
        outline-style: hidden;
        outline-color: transparent;
        outline: none !important;
        box-shadow: none;
    }

    img {
        position: absolute;
        transition: all 250ms ease-in-out;
        width: 100%;
        bottom: 0;
        left: 0;
        & + img {
            opacity: 0;
        }
    }

    &.active {
        width: 256px;
        left: -40px;
        img {
            opacity: 0;
            & + img {
                opacity: 1;
            }
        }
    }
}

#feedback-btn-m {
    padding-bottom: 15px;
    position: relative;
    z-index: 1;
}

#video-box {
    max-width: 500px;
    // width: 100%;
    // background: white;
    margin-left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-up(lg) {
        margin-left: 0;
        transform: translateX(0);
    }
}

#gifts-holder {
    transition: all 750ms ease-out;
    max-width: 480px;
    padding: 0;
}

#gifts-holder.pre {
    max-width: 115px;
    padding-bottom: 142px;
    margin-left: -5px;
    padding-top: 94px;

    .inner-gift-wrapper.shadow-lg {
        box-shadow: 0 0 0 rgb(255, 255, 255) !important;
    }
}

#pre-card {
    position: absolute;
    left: 50%;
    top: 0;
    width: 185px;
    height: 185px;

    margin-top: 96.5px;

    margin-left: -98px;
    border: 10px solid white;
    font-size: 12px;
    padding: 7px;
    line-height: 1;

    #pre-card-inner {
        padding: 10px;
        border: 1px solid $primary;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}

#pre-card .smile {
    position: relative;

    &:after {
        content: '';
        display: block;
        background-image: url(../img/smile-cta.svg);
        background-size: contain;
        background-repeat: no-repeat;

        width: 34px;
        height: 15px;
        position: absolute;
        bottom: -17.5px;
        left: 50%;
        margin-left: -17px;
    }
}

#stage-animation {
    opacity: 0;
    transition: all 250ms ease-in-out;

}

#stage-click {
    z-index: 0;

    &.front {
        z-index: 9999;
    }

    &.clickable {
        cursor: pointer;
    }
}


#stage-animation.pre {
    opacity: 1;
}



#stage-4-wrapper,
#stage-5-wrapper,
#stage-animation-wrapper {
    transition: all 250ms ease-in-out;
    height: 100%;
}

.download-icon,
.print-icon {
    transition: all 250ms ease-in-out;
    width: 55px;
    height: 55px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    display: block;

    &:hover {
        transform: scale(1.15);
    }
}

.download-icon {
    background-size: 55% 55%;
    background-image: url(../img/donwload-icon.svg);
}

.print-icon {
    background-size: 60% 60%;
    background-image: url(../img/print-icon.svg);
}

#gifts-holder {
    transition: all 500ms ease-in-out;
    position: relative;

    &.stacked {
        .gift-wrapper {
            margin-top: -62.5%;
        }
    }

    &.active {
        &.showing {
            @include media-breakpoint-up(lg) {
                margin-left: -680px;
            }
        }

        .gift-wrapper {
            transition: all 1000ms ease-in-out;
            margin-top: -62.5%;
            opacity: 1;
            transform: translateX(-100vw);

            &.first {
                transform: scale(1.1) translateX(-100vw);
            }

            &.active {
                opacity: 1;
            }

            &:hover {
                &+.gift-wrapper:not(.first) {
                    margin-top: -62.5%;
                }
            }
        }
    }

    .gift-wrapper {
        transition: all 250ms ease-in-out;
        cursor: pointer;
        z-index: 1;
        margin-top: -58%;
        transform-origin: 100% 100%;
        position: relative;

        &.first {
            transform-origin: center;
            transform: scale(1.1);

            &.droped {
                z-index: 0;
            }
        }

        &:nth-child(1) {
            margin-top: 0;
        }

        &:hover {
            &+.gift-wrapper:not(.first) {
                margin-top: -42%;
            }
        }

        .inner-gift-wrapper {
            transition: all 250ms ease-in-out;

            &+.download-icon-wrapper {
                transition: all 500ms ease-in-out;
                transition-delay: 0ms;
                position: absolute;
                margin-right: -32px;
                transform: translateX(-100%);
                opacity: 0;
                top: -32px;
                left: 112px;

                @include media-breakpoint-up(lg) {
                    top: 112px;
                    right: 0;
                    left: auto;
                }
            }

            &+.download-icon-wrapper+.print-icon-wrapper {
                transition: all 500ms ease-in-out;
                transition-delay: 0ms;
                position: absolute;
                margin-right: -32px;
                transform: translateX(-100%);
                opacity: 0;
                top: -32px;
                left: 32px;

                @include media-breakpoint-up(lg) {
                    top: 32px;
                    right: 0;
                    left: auto;
                }
            }
        }

        &.active {
            transform: rotate(45deg) translateX(0vw);

            &.showing {
                transform: rotate(0deg);

                .inner-gift-wrapper {
                    &+.download-icon-wrapper {
                        transform: translateX(0%);
                        opacity: 1;
                        transition-delay: 750ms;
                    }

                    &+.download-icon-wrapper+.print-icon-wrapper {
                        transform: translateX(0%);
                        opacity: 1;
                        transition-delay: 1000ms;
                    }
                }

            }
        }
    }

}

#gift-info-wrapper {
    position: relative;

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#gift-info {

    transition: opacity 750ms ease-in-out;
    opacity: 0;
    position: absolute;
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        transition: all 750ms ease-in-out;
        top: -10%;
        left: 0;
        height: 120%;
        min-height: auto;
        overflow-y: scroll;
        transform: translateX(100vw);

        &.active {
            transform: translateX(0vw);
        }
    }

    &.active {
        display: block;
        opacity: 1;
    }
}

#card-wrapper {
    position: relative;

    & .download-icon-wrapper {
        transition: all 500ms ease-in-out;
        transition-delay: 750ms;
        position: absolute;
        top: -22.5px;
        left: 32px;

        @include media-breakpoint-up(lg) {
            top: 32px;
            left: -96px;
        }

        .download-icon {
            background-color: $primary;
        }
    }

    & .print-icon-wrapper {
        transition: all 500ms ease-in-out;
        transition-delay: 1000ms;
        position: absolute;
        top: -22.5px;
        left: 96px;

        @include media-breakpoint-up(lg) {
            top: 112px;
            left: -96px;
        }

        .print-icon {
            background-color: $primary;
        }
    }
}

#inner-card-wrapper {
    @include media-breakpoint-up(lg) {
        cursor: none;
    }
}

.fcta {
    //transition: opacity 250ms ease-in-out;
    display: block;
    background-color: $primary;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    position: absolute;
    line-height: 128px;
    top: 0;
    left: 0;
    color: $dark;
    text-transform: uppercase;
    margin-top: -64px;
    margin-left: -64px;
    opacity: 0;

    //&.out {
        //transition: all 250ms ease-in-out;
        // top: 50% !important;
        // left: 50% !important;
    //}

    span {
        display: inline-block;
        line-height: 22px;
        vertical-align: middle;
    }

}

#card-wrapper:hover .fcta {
    @include media-breakpoint-up(lg) {
        opacity: 1;
    }
}

#back-to-stack {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: -16px;
        height: 8px;
        width: 4px;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

#turn-device {
    display: none;
}
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    #turn-device {
        display: block;
        background-color: $white;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
    }
}

#back-to-start {
    display: none;

    @include media-breakpoint-up(lg) {
        transition: opacity 250ms ease-in-out;
        position: absolute;
        bottom: 2rem;
        left: 3rem;
        z-index: 99999;
        opacity: 0;
        &.active {
            opacity: 1;
            display: block;
        }
    }
}