* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Modern Era';
    src: url('../fonts/ModernEraTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/ModernEraTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-Light.woff2') format('woff2'),
        url('../fonts/Recoleta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



